In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("european_airports.csv")

In [3]:
df.head()

,id,name,iso_country,iata_code,icao_code,latitude_deg,longitude_deg,elevation_ft,type,municipality
0,300646,Algeciras Heliport,ES,NaN,NaN,36.128820,-5.441079,98.0,heliport,Algeciras
1,43818,Pöchlarn-Wörth Heliport,AT,NaN,NaN,48.214737,15.255424,709.0,heliport,Pöchlarn-Wörth
2,46529,Scalaria Airchallenge Water Landing Area,AT,NaN,NaN,47.734705,13.443832,NaN,seaplane_base,Lake Wolfgang
3,312150,Bad Tatzmannsdorf PVA Hospital Helipad,AT,NaN,NaN,47.330720,16.222070,1247.0,heliport,Bad Tatzmannsdorf
4,312153,Güssing Hospital Helipad,AT,NaN,NaN,47.049770,16.321700,731.0,heliport,Güssing

In [4]:
df.shape

(8703, 10)

In [5]:
df.isnull().sum()

id                  0
name                0
iso_country         0
iata_code        7993
icao_code        7944
latitude_deg        0
longitude_deg       0
elevation_ft     2187
type                0
municipality     1264
dtype: int64

In [6]:
df["elevation_ft"] = df["elevation_ft"].interpolate()

In [8]:
df["municipality"] = df["municipality"].fillna("Unknown")