In [1]:
import requests
import pandas as pd

In [2]:
url = "https://opensky-network.org/api/states/all"

In [3]:
response = requests.get(url)
data = response.json()

In [10]:
columns = ["icao24", "callsign", "origin_country", "time_position", "longitude", "latitude", "velocity", "altitude"]
flights = [dict(zip(columns, flight[:len(columns)])) for flight in data["states"]]

In [11]:
df = pd.DataFrame(flights)

In [12]:
df.head()

,icao24,callsign,origin_country,time_position,longitude,latitude,velocity,altitude
0,4b1818,SWR795Z,Switzerland,1.742505e+09,1742504540,8.1920,45.2312,11079.48
1,ab1644,UAL221,United States,1.742505e+09,1742504539,-104.4115,35.3429,10050.78
2,e8027e,LPE2110,Chile,1.742505e+09,1742504539,-77.1218,-12.2346,2926.08
3,408120,VIR21K,United Kingdom,1.742505e+09,1742504539,-71.8917,42.6015,12192.00
4,aa56db,UAL2616,United States,1.742505e+09,1742504540,-87.4601,32.6467,9997.44

In [13]:
df['origin_country'].unique

<bound method Series.unique of 0          Switzerland
1        United States
2                Chile
3       United Kingdom
4        United States
             ...
9995     United States
9996     United States
9997     United States
9998          Colombia
9999     United States
Name: origin_country, Length: 10000, dtype: object>

In [14]:
europe_countries = {
    "Switzerland", "United Kingdom", "France", "Germany", "Italy", "Spain", "Netherlands",
    "Belgium", "Austria", "Sweden", "Poland", "Norway", "Finland", "Denmark", "Portugal", 
    "Ireland", "Czech Republic", "Hungary", "Greece", "Slovakia", "Slovenia", "Romania",
    "Bulgaria", "Croatia", "Lithuania", "Latvia", "Estonia", "Luxembourg", "Malta", "Cyprus"
}

In [15]:
df_europe = df[df["origin_country"].isin(europe_countries)]

In [16]:
df_europe.head()

,icao24,callsign,origin_country,time_position,longitude,latitude,velocity,altitude
0,4b1818,SWR795Z,Switzerland,1.742505e+09,1742504540,8.1920,45.2312,11079.48
3,408120,VIR21K,United Kingdom,1.742505e+09,1742504539,-71.8917,42.6015,12192.00
6,39de4b,TVF66GM,France,1.742505e+09,1742504540,1.8362,48.5024,2011.68
7,39de4a,TVF14DR,France,1.742505e+09,1742504540,1.9553,48.5916,1638.30
9,4b1812,SWR24C,Switzerland,1.742505e+09,1742504539,3.7558,48.8934,10972.80

In [ ]:
df_europe.to_df